body{
	width: 80%;
	margin: 0 auto;
	background: #404F58;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}
h1{
	font-size: 35px;
	color: #A1E7DC;
	font-family: 'Montserrat', sans-serif;
}
div{
	display: inline-block;
	width: 500px;
	text-align: center;
}
img{
	width: 60%;
	height: 200px;
}
h3{
	 color:#4E9CEB;
}